extends layout

block content
  .row
    .col-md-12
      h1 #{config.tokenName}
      p Welcome to the #{config.tokenShortName} Explorer powered by bitfly!
  
  .row
    .col-md-12
      h3 Recent transactions
  .row
    .col-md-12
      .table-responsive
        table.table
          tr
            th Type
            th From hash
            th To hash
            th Amount
            th Date
            th From name
            th To name
            th Concept
          for event in events
            +event_row(event)
